<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RendezVous</servlet-name>
  	<display-name>RendezVous</display-name>
  	<description></description>
  	<servlet-class>eheio.ma.controller.RendezVous</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AppointmentServlet</servlet-name>
  	<display-name>AppointmentServlet</display-name>
  	<description></description>
  	<servlet-class>eheio.ma.dao.AppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RendezVous</servlet-name>
  	<url-pattern>/RendezVous</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AppointmentServlet</servlet-name>
  	<url-pattern>/AppointmentServlet</url-pattern>
  </servlet-mapping>
</web-app>
